[user]
	name = Åsmund Grammeltvedt
	email = asmundg@big-oil.org
    signingkey = 4D67B169

[color]
	diff = auto
	status = auto
	branch = auto

[push]
	default = tracking

[alias]
	fa = fetch --all --prune
	ci = commit
	st = status
	br = branch
	co = checkout
    me = merge --no-ff

[mergetool]
    prompt = false

[core]
	editor = emacsclient -nw
	excludesfile = ~/.gitignore

[rerere]
    enabled = true

[merge]
	conflictstyle = diff3
